## WEB SCRAPPING WITH SELENIUM ASSIGNMENT

### Q1: Write a python program to scrape data for “Data Analyst” Job position in
    “Bangalore” location. You have to scrape the job-title, job-location, company_name,
    experience_required. You have to scrape first 10 jobs data.
    This task will be done in following steps:
    1. first get the webpage https://www.naukri.com/
    2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
    in “enter the location” field.
    3. Then click the search button.
    4. Then scrape the data for the first 10 jobs results you get.
    5. Finally create a dataframe of the scraped data.
    Note- All of the above steps have to be done in code. No step is to be done manually.

In [1]:
# imports 
import selenium 
import pandas as pd
from selenium import webdriver

Version 91.0.4472.77 (Official Build) (64-bit)

In [2]:
#IMPORTING chrome driver exe


driver = webdriver.Chrome("Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
#proving the chrome drive with naukri url


url = "https://www.naukri.com/"
driver.get(url)

In [5]:
### Findind search bars,location search bar, and Search Button by ID and giving it to the driver

search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_btn = driver.find_element_by_class_name('btn')

search_job,search_loc,search_btn

(<selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="3d872cae-1db7-4970-872f-7af5caf7608a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="1931b8e5-95ea-4b8d-8f66-2967e67f191e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="a2a18a98-9c25-4436-9d11-81b2d397cc0e")>)

In [6]:
# Porviding keys to search , givien in the previous step.


search_job.send_keys("Data Analyst")
search_loc.send_keys("Bangalore")
search_btn.click()

In [34]:
# AS per the search data given, Data retrieved extraction with XPATH with CLASSNAME
# of job_title,comapny_name, location, and expierence years, salary


job_titles_tag = driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']")
company_names_tag =  driver.find_elements_by_xpath("//a[@class= 'subTitle ellipsis fleft']")
locations_and_years =  driver.find_elements_by_xpath("//span[@class= 'ellipsis fleft fs12 lh16']")
#exp_years_tag =  driver.find_elements_by_xpath("//span[@class= 'ellipsis fleft fs12 lh16']")

In [35]:
job_titles_tag,company_names_tag,locations_and_years

([<selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="848c4e54-bb37-4c02-b296-3b9596847b73")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="becd13ef-b611-410a-a868-8e5e33562c33")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="6f55fbfa-e4ea-4930-8566-2935ff61bf55")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="480c4466-a66f-4ae3-8c30-0f1e93585a20")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="f58cba7d-83e9-40d2-b054-02ef60319760")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="0e1957ed-33b3-4870-83fe-9b93134198f7")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="1eadc7e9-43bb-469e-ac38-ceda9141aa85")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="2b73c595-5fb1-472c-8a32-0b6fe924bad8")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="13980152-0fa5-4c08-93fa-da96949fee18")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="a7de18ce-04d8-4eb1-ad1f-077963766565")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="8a89e27c-6b60-486e-92ca-49ffac84354f")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="b857dec4-a09a-4893-b942-1423ab685fc6")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="24b21f27-ac3b-4384-98c7-10d63150cc1c")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="4b8155fb-7903-493a-bc12-f063dc21cc53")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="d5a6e663-4a65-4003-b8b0-27fc8e1d2fd7")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="20f3aaf5-293f-41ec-8df1-eecf327750d6")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="9899129f-acb4-4adb-848a-916427af6a3d")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="93601b7e-18d6-44bd-bc6d-30e283c696f1")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="bf30ffa4-f0de-4e44-8b80-3c10c83ebaeb")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="446596b8-9061-4fa2-aa1a-3f7f9499e214")>],
 [<selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="3d7ff8bd-020a-45f6-a297-f88148df4947")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="30e37861-cf52-46fa-9e12-d9bdc9ee1c0a")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="c9fb208d-3406-4335-af1a-d9c1ef42859d")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="4eb59e6f-7060-4a5d-835f-f3fb919d55f6")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="6904029c-11bb-437b-a518-5ca47ffcdf62")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="8c537430-7176-4421-9005-9808f86492a6")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="1c64fcdd-c3aa-4a24-a3be-e692a8f9baf2")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="7319ac4b-63f7-494f-b364-3c91c9ad4bc7")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="5add7bd2-efe3-45fa-bf4f-ac9be541355c")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="1212c68d-3007-4b6b-a074-0bd75acf343d")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="6b6d3bf8-48be-47c3-832b-44cee1bc1f22")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="587d3e13-2911-4ccc-b9a1-661f8f9e6d45")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="8ca7b1a6-104b-4045-bd80-f5d59cef997a")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="6b6138ae-737e-4689-8377-ce0dd562561c")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="77160f8f-4af1-4e8f-bbd3-cfd438a116ab")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="9f946bfa-9d6b-4cdd-a62b-6c84e5304f2e")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="e43c7fd7-b7ec-4375-bf15-e4aa4c5fd9bc")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="ea15b804-b649-449f-8a94-0a2701b02edb")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="54f07f1a-b0ff-4444-979d-4ac3f870b9d4")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="7a557ac5-0ca3-4550-8808-09da4c6c7c8c")>],
 [<selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="13f4471c-4ca0-49d5-9026-d8ae7e1b39fd")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="eddaeb72-39c9-491b-b355-a978c053bd8f")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="23dc0eaa-bdb7-4109-8b08-d713c2e89497")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="12ae175a-25e6-4fa6-9149-7a789d3ee00c")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="10a9e21b-5b7c-4067-8ba0-56d3a461015d")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="eb2c7bf2-5dfd-4118-932f-9d40d8fcd50c")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="199c3c08-465e-4cb2-9ce8-eafc30b2e030")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="caa3397a-6e40-4151-b76a-574ef1126dfe")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="607777cc-63ea-4654-a7f4-83aaaaeb4990")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="a7d9bbe8-f013-45ef-a2fd-d21232b735e8")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="0a6f286d-a622-4971-a744-e7aa3b832fdd")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="7e9b2c7b-deb1-438f-8ffe-09dd7ee60fc1")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="5c47d286-e5b1-4500-ad5f-1a91c2a44c93")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="b35f380e-e522-48dd-ab1a-54dba9063d73")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="3e59b598-cd0c-47d4-b726-dfd9505c10cc")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="b922ebdc-effb-4d70-8bb4-f3b90c3ed58d")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="d5f39a72-f96a-4056-9c98-de34baf8b079")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="e24bcdaa-4540-43e8-8ba3-5d52b761d81a")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="f83aa87f-9047-489f-9cf5-b3ebbdbff01e")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="0b1b7f2e-9a2a-4b9b-aeae-a23e6995c9fc")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="a67cd8fd-d01e-4b34-8f23-d56b8840574e")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="b10d1fa3-a49c-4903-adaf-7e455f067b1f")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="00dbc82e-4968-4a59-af12-f323df8e49c1")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="c8f86572-3d90-4162-bf53-4f46cd6054b6")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="90ad1ca6-3e09-433c-857e-d6089845676a")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="9708d39f-b1bb-4f70-80be-3ed2a494ac9d")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="324476eb-763e-4db1-b767-86881eb40dcb")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="4f3a26fa-befb-4a3d-935b-9a9323c52678")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="fb660d0d-64e2-46f2-875b-c4cf59378878")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="2fbf925b-8021-4358-bc53-afbb7116b0cb")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="cfb2dee8-990c-4121-8e9d-fff58e3a3427")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="2de832c6-83b6-4ed5-ba19-bbaf41c0222c")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="66c4848c-ba8b-4011-883c-a4446e462bf3")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="452ec326-83ba-4f75-af00-a69bfa76f5c0")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="5da2cf31-9024-4932-a456-163b27466ef6")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="7740d1b9-f43b-4772-b4a8-0f64ec0d5d1b")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="7751c6a7-3369-4d37-a72c-1fec13aeddb1")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="9e6e62b6-c234-4f55-a770-edec612c6938")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="45af4a27-7f18-4967-abcf-a94dfbdf1cbe")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="d3846455-2ec8-4d5b-8aec-a2fc5fe1d723")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="0c3df538-5bfa-454c-9054-5ff8696084c6")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="76698a52-6361-4cfa-86d9-31ecec428e09")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="8b8e98a3-f4bc-4f93-8af2-d4eb6ea59e6c")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="55e1ea06-0435-484c-86c8-134bfb9436fd")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="61d76be9-76e2-42a6-9823-b8b765e3aed2")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="480a74eb-9b06-408c-8ca6-5c5b19bd579d")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="fc818e19-be4b-4aab-bb56-c8bc1522c43f")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="7449966e-4489-4800-b96c-50a941678589")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="22d32847-d52a-4b78-827d-d2ed75cdefe0")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="4443028e-85bc-427f-bf86-75c5fa8f0135")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="89c07584-e011-480a-95c6-ff362c4ed8df")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="b65b9aa2-7d16-4df4-9eb0-fd4853d85dd3")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="b9d83894-6b8b-4b60-abbb-69a8b296a25b")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="0277797d-421f-45fd-a45d-9d36394b30e2")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="13396289-fb6b-4a93-9635-d219b32c527f")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="12e2347c-d8bd-4a92-b130-d97f04dcde42")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="7a9c346b-c7ed-43d0-84d4-449512baf176")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="dfa85b69-9571-4a1e-b8ba-34e24335b63c")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="d76b4053-940b-4833-8b9e-442816665f59")>,
  <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="7a78bfc9-f8d0-4beb-aecf-ee7853d5e3b0")>])

In [36]:
#ExtractingJob title, Company name

titles = []
for i in job_titles_tag[:10]:
    titles.append(i.text)
    
companys = []
for i in company_names_tag[:10]:
    companys.append(i.text)

In [37]:
titles,companys

(['Data Scientist / Data Analyst -Business Analyst',
  'Senior Data Scientist - SQL/Spark/Python',
  'Senior Data Scientist',
  'VP - Sr. Data Scientist For Morgan Stanley, Bangalore',
  'data scientist',
  'Data analytics / Data scientist intern (work from Home)',
  'Senior Data Scientist',
  'Senior Data Scientist',
  'Senior Data Scientist',
  'Senior Data Scientist'],
 ['Inflexion Analytix Private Limited',
  'Datamatics Business Solutions',
  'RedBus',
  'Morgan Stanley Advantage Services',
  'Global Talent Pool',
  'TalkValley LLC',
  'Infocrunch Campaigns Pvt Ltd',
  'ExecBoardinAsia',
  'Walmart Labs',
  'Perform Group'])

In [38]:
# as class name for experiences, salary , location are same, we can loop through 
# and extract thier data as each salary,location,exp occur is same pattern in a lop in every 3 counts.
# we can use modulus of 3 to iterate through loop

exp = []

location = []
count = 0
for i in locations_and_years[:30]:
    
    if(count%3==0):
        exp.append(i.text)
    
    if(count%3==2):
        location.append(i.text)
        
    count= count+1

In [39]:
exp,location

(['0-3 Yrs',
  '4-8 Yrs',
  '5-8 Yrs',
  '8-13 Yrs',
  '0-2 Yrs',
  '0-5 Yrs',
  '3-7 Yrs',
  '5-10 Yrs',
  '8-10 Yrs',
  '4-7 Yrs'],
 ['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
  'Mumbai, Thane, Navi Mumbai',
  'Bangalore/Bengaluru',
  'Bangalore/Bengaluru',
  'Bangalore/Bengaluru',
  'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
  'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
  'Bangalore/Bengaluru',
  'Bangalore/Bengaluru',
  'Bangalore/Bengaluru'])

In [40]:
# creating a Dictionary to store in DatafRame


jobs_dict_1 = {
    'Job_title': titles, 'Company_name': companys,
    'Experience Needed': exp, 
    'Job_Locations':location
}

In [41]:
# Create a DataFrame/ Table Structure

job_Data_Analyst_BL = pd.DataFrame(jobs_dict_1)

In [42]:
#Scrapped Data for DATA ANALYST in Bangalore

job_Data_Analyst_BL

,Job_title,Company_name,Experience Needed,Job_Locations
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Senior Data Scientist - SQL/Spark/Python,Datamatics Business Solutions,4-8 Yrs,"Mumbai, Thane, Navi Mumbai"
2,Senior Data Scientist,RedBus,5-8 Yrs,Bangalore/Bengaluru
3,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",Morgan Stanley Advantage Services,8-13 Yrs,Bangalore/Bengaluru
4,data scientist,Global Talent Pool,0-2 Yrs,Bangalore/Bengaluru
5,Data analytics / Data scientist intern (work f...,TalkValley LLC,0-5 Yrs,"Kolkata, Bangalore/Bengaluru, Delhi / NCR"
6,Senior Data Scientist,Infocrunch Campaigns Pvt Ltd,3-7 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
7,Senior Data Scientist,ExecBoardinAsia,5-10 Yrs,Bangalore/Bengaluru
8,Senior Data Scientist,Walmart Labs,8-10 Yrs,Bangalore/Bengaluru
9,Senior Data Scientist,Perform Group,4-7 Yrs,Bangalore/Bengaluru

### Q2: Write a python program to scrape data for “Data Scientist” Job position in
### “Bangalore” location. You have to scrape the job-title, job-location,
### company_name, full job-description. You have to scrape first 10 jobs data.
    
    This task will be done in following steps:
    
    1. first get the webpage https://www.naukri.com/
    2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
    “Bangalore” in “enter the location” field.
    3. Then click the search button.
    4. Then scrape the data for the first 10 jobs results you get.
    5. Finally create a dataframe of the scraped data

In [119]:
#proving the chrome drive with naukri url

#IMPORTING chrome driver exe



url = "https://www.naukri.com/"
driver.get(url)

In [120]:
### Findind search bars,location search bar, and Search Button by ID and giving it to the driver

search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_btn = driver.find_element_by_class_name('btn')

search_job,search_loc,search_btn

(<selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="f7de8382-7233-4181-b6c8-b76b855e29e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="0c4ccd8a-8586-4d4b-8cff-d7e4d8c24a4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="11d9b0e4-22e0-46d3-89b2-0b0266dfd0cc")>)

In [121]:
# Porviding keys to search , givien in the previous step.


search_job.send_keys("Data Scientist")
search_loc.send_keys("Bangalore")
search_btn.click()

In [122]:
# AS per the search data given, Data retrieved extraction with XPATH with CLASSNAME
# of job_title,comapny_name, location, and expierence years, salary


job_titles_tag = driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']")
company_names_tag =  driver.find_elements_by_xpath("//a[@class= 'subTitle ellipsis fleft']")
job_location =  driver.find_elements_by_xpath("//span[@class= 'ellipsis fleft fs12 lh16']")
#exp_years_tag =  driver.find_elements_by_xpath("//span[@class= 'ellipsis fleft fs12 lh16']")

In [389]:
from selenium.common.exceptions import NoSuchElementException

In [124]:
#ExtractingJob title, Company name
# we are Excluding the 3rd Job title as it openes up a different web page for extracting job description .

    
companys = []
for i in company_names_tag[:11]:
    companys.append(i.text)

In [125]:
companys

['Inflexion Analytix Private Limited',
 'Global Talent Pool',
 'TalkValley LLC',
 'RedBus',
 'Morgan Stanley Advantage Services',
 'Infocrunch Campaigns Pvt Ltd',
 'Walmart Labs',
 'ExecBoardinAsia',
 'Perform Group',
 'intelligent industrial internet systems pvt ltd.',
 'Walmart Labs']

In [126]:
# as class name for experiences, salary , location are same, we can loop through 
# and extract thier data as each salary,location,exp occur is same pattern in a lop in every 3 counts.
# we can use modulus of 3 to iterate through loop



location = []
count = 0
for i in job_location[:33]:
  
    if(count%3==2):
        location.append(i.text)
        
    count= count+1

In [127]:
location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

In [128]:
# Storing all the urls of Each JOB of Data Science to provide to the Driver further to get the Full job description.


urls = []
for i in job_titles_tag[:11]:
    
    urls.append(i.get_attribute('href'))

In [129]:
len(urls)

11

In [130]:
import numpy as np
import time

In [134]:
### Looping through the urls,for each url driver gets the full description of that particular Job otherwise NaN

full_descs = []
full_Job_title = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        desc = driver.find_element_by_xpath("//div[@class= 'dang-inner-html']")
        title = driver.find_element_by_xpath("//h1[@class= 'jd-header-title']")
        full_descs.append(desc.text.replace('\n',''))
        full_Job_title.append(title.text)
    except NoSuchElementException :
        full_descs.append(np.NaN)
        full_Job_title.append(np.NaN)

In [135]:
full_Job_title

['Data Scientist / Data Analyst -Business Analyst',
 'data scientist',
 'Data analytics / Data scientist intern (work from Home)',
 nan,
 'VP - Sr. Data Scientist For Morgan Stanley, Bangalore',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Senior Data Scientist (Marketplace)']

In [140]:
jobs_2_dict = {
    'Job_title': full_Job_title,
    'Company_name': companys,
    'Job_Locations': location,
    'Full_Description': full_descs
}

In [141]:
jobs_data_scientist = pd.DataFrame(jobs_2_dict)

In [142]:
jobs_data_scientist

,Job_title,Company_name,Job_Locations,Full_Description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job Role : Data Scientist/Data Analyst /Busine...
1,data scientist,Global Talent Pool,Bangalore/Bengaluru,Essential Duties ResponsibilitiesPerform basic...
2,Data analytics / Data scientist intern (work f...,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",We are a group of tenured professors from Tier...
3,NaN,RedBus,Bangalore/Bengaluru,NaN
4,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",Morgan Stanley Advantage Services,Bangalore/Bengaluru,About UsMorgan Stanley is a leading global fin...
5,Senior Data Scientist,Infocrunch Campaigns Pvt Ltd,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",We are looking for a highly capable Data Scien...
6,Senior Data Scientist,Walmart Labs,Bangalore/Bengaluru,"As a Senior Data Scientist for Walmart Labs, y..."
7,Senior Data Scientist,ExecBoardinAsia,Bangalore/Bengaluru,The Senior Data Scientist is an exciting role ...
8,Senior Data Scientist,Perform Group,Bangalore/Bengaluru,Responsibilities: -Contribute across dierent s...
9,Sr Data Scientist,intelligent industrial internet systems pvt ltd.,"Bangalore/Bengaluru, Mumbai (All Areas)",Roles and Responsibilities- Create an industry...
10,Senior Data Scientist (Marketplace),Walmart Labs,Bangalore/Bengaluru,Position Responsibilitieso Solve business pr...

   ###  Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
    You have to use the location and salary filter.
    You have to scrape data for “Data Scientist” designation for first 10 job results.
    You have to scrape the job-title, job-location, company_name,
    experience_required.
    The location filter to be used is “Delhi/NCR”
    The salary filter to be used is “3-6” lakhs
    The task will be done as shown in the below steps:
    1. first get the webpage https://www.naukri.com/
    2. Enter “Data Scientist” in “Skill,Designations,Companies” field .

In [153]:
#proving the chrome drive with naukri url

url = "https://www.naukri.com/"
driver.get(url)

In [154]:
### Findind search bars,location search bar, and Search Button by ID and giving it to the driver

search_job = driver.find_element_by_id("qsb-keyword-sugg")

search_btn = driver.find_element_by_class_name('btn')

search_job,search_btn

(<selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="b1be7c1f-b417-4ecc-b74e-c815bde25249")>,
 <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="4eb7b675-8f05-4524-814a-f6b1884b2ee3")>)

In [155]:
# Porviding keys to search , givien in the previous step.


search_job.send_keys("Data Scientist")

search_btn.click()

In [166]:
## Extracting filter links

label = driver.find_element_by_xpath("//span[@title='Delhi / NCR']")

In [167]:
## applyng filter for delhi location
label.click()

In [168]:
salary= driver.find_element_by_xpath("//span[text()='3-6 Lakhs']")

In [170]:
salary.click()

In [171]:
# AS per the search data given, Data retrieved extraction with XPATH with CLASSNAME
# of job_title,comapny_name, location, and expierence years, salary


job_titles_tag = driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']")
company_names_tag =  driver.find_elements_by_xpath("//a[@class= 'subTitle ellipsis fleft']")
exp_loc=  driver.find_elements_by_xpath("//span[@class= 'ellipsis fleft fs12 lh16']")
#exp_years_tag =  driver.find_elements_by_xpath("//span[@class= 'ellipsis fleft fs12 lh16']")

In [172]:
#ExtractingJob title, Company name
# we are Excluding the 3rd Job title as it openes up a different web page for extracting job description .

titles = []
for i in job_titles_tag[0:10]:
    titles.append(i.text)

    
companys = []
for i in company_names_tag[:10]:
    companys.append(i.text)

In [173]:
titles,companys

(['Data Scientist / Data Analyst -Business Analyst',
  'Data analytics / Data scientist intern (work from Home)',
  'Data Scientist',
  'Chaayos is Looking For Data Scientist',
  'Junior Data Scientist',
  'We are hiring- Data Scientist +Python- Noida',
  'Data Scientist',
  'Data Scientist - High growth VC backed Influencer Marketplace',
  'Data Scientist',
  'Data Analyst/Scientist Big Data, Statistical Techniques'],
 ['Inflexion Analytix Private Limited',
  'TalkValley LLC',
  'Fractal Analytics',
  'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
  'R Systems International Ltd.',
  'RANDSTAD INDIA PVT LTD',
  'Milliman India Pvt Ltd',
  'Ravgins International Pvt. Ltd.',
  'Country Veggie',
  'The Search House (A Div of JSD Search House Pvt. L td.)'])

In [174]:
#Extracting the Exp and Location together from the loop , as every 3 data is of each job, 
#from each 3 count, we can apply modulus and extract exp, location

exp = []
location = []
count = 0
for i in exp_loc[:30]:
  
    if(count%3==0):
        exp.append(i.text)
    
    if(count%3==2):
        location.append(i.text)
        
    count= count+1

In [175]:
exp,location

(['0-3 Yrs',
  '0-5 Yrs',
  '3-7 Yrs',
  '0-5 Yrs',
  '3-5 Yrs',
  '4-7 Yrs',
  '2-5 Yrs',
  '3-5 Yrs',
  '1-3 Yrs',
  '2-7 Yrs'],
 ['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
  'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
  'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
  'New Delhi',
  'Noida(Sector-59 Noida)',
  'Noida, Gurgaon/Gurugram, Delhi / NCR',
  'Gurgaon/Gurugram, Delhi / NCR',
  'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
  'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, New Delhi, Lucknow, Agra, Gurgaon/Gurugram, Rajkot, Bangalore/Bengaluru',
  'Gurgaon/Gurugram'])

In [176]:
#Creating a dictionary for all the details

jobs_filter_dict = {
    'Job_title': titles,
    'Company_name': companys,
    'Job_Locations': location,
    'Experience': exp
}

In [177]:
# creating dataframe/ Table from the Dictionary
job_filter = pd.DataFrame(jobs_filter_dict)

In [178]:
job_filter

,Job_title,Company_name,Job_Locations,Experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Data analytics / Data scientist intern (work f...,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",0-5 Yrs
2,Data Scientist,Fractal Analytics,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs
3,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),New Delhi,0-5 Yrs
4,Junior Data Scientist,R Systems International Ltd.,Noida(Sector-59 Noida),3-5 Yrs
5,We are hiring- Data Scientist +Python- Noida,RANDSTAD INDIA PVT LTD,"Noida, Gurgaon/Gurugram, Delhi / NCR",4-7 Yrs
6,Data Scientist,Milliman India Pvt Ltd,"Gurgaon/Gurugram, Delhi / NCR",2-5 Yrs
7,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-5 Yrs
8,Data Scientist,Country Veggie,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",1-3 Yrs
9,"Data Analyst/Scientist Big Data, Statistical T...",The Search House (A Div of JSD Search House Pv...,Gurgaon/Gurugram,2-7 Yrs

### Q4: Write a python program to scrape data for first 10 job results for Data scientist
 
 ###  Designation in Noida location. 
     You have to scrape company_name, No. of days
    ago when job was posted, Rating of the company.
    This task will be done in following steps:
    1. first get the webpage https://www.glassdoor.co.in/index.htm
    2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
    in “location” field

In [453]:
import requests

In [480]:
#proving the chrome drive with naukri url

url = "https://www.glassdoor.co.in/index.htm/"
driver.get(url)

In [481]:
requests.get(url)

In [482]:
requests.get(url)

In [487]:
### Findind search bars,location search bar, and Search Button by ID and giving it to the driver

search_job = driver.find_element_by_xpath("//input[@class='css-1etjok6']")
search_btn = driver.find_element_by_xpath("//button[@data-test='search-bar-submit']")
search_job,search_btn

(<selenium.webdriver.remote.webelement.WebElement (session="3ced85889e087e0df113d0ced8a5203c", element="e0ea4b6e-e388-4295-894c-a129d8d833e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ced85889e087e0df113d0ced8a5203c", element="c5cab0e2-1c4e-45c4-941a-f1dc2d9b4768")>)

In [488]:
# Sending Keys for searching and Clicking the Search button

search_job.send_keys("Data Scientist")

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=91.0.4472.101)

In [489]:
   
search_btn.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=91.0.4472.101)

In [475]:
# Search Location, Search Button element retrieval

search_loc = driver.find_element_by_xpath("//input[@id='sc.location']")
search_btn = driver.find_element_by_xpath("//button[@data-test='search-bar-submit']")

In [249]:
search_loc.clear()

In [250]:
# Giving the Location for search as Noida
search_loc.clear()
    
search_loc.send_keys('Noida')

In [251]:
search_btn.click()

In [252]:
# elements retrieval

companies = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")

job_title = driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']/span")

ratings = driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")

days = driver.find_elements_by_xpath("//div[@data-test='job-age']")[:10]

In [312]:
# appending data

company_name = []
for  i in companies[:10]:
    if(i.text != ''):
        company_name.append(i.text)
    else:
        company_name.append(np.NaN)

In [313]:
company_name

['Ginger Webs Pvt. Ltd.',
 'Ericsson',
 'Crowe',
 'Adobe',
 'Jubna',
 'Techlive',
 'CRMNEXT',
 'Amploy',
 'dunnhumby',
 'Biz2Credit Inc']

In [263]:
job_titles = []
for  i in job_title[:10]:
    if(i.text != ''):
        job_titles.append(i.text)
    else:
        job_titles.append(np.NaN)

In [264]:
job_titles

['Data Analyst / Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Research Scientist - Computer Vision',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Computer Vision',
 'Data Science Intern (remote)',
 'Applied Data Scientist',
 'Data Scientist']

In [302]:
rating_comp = []
for i in ratings[:10]:
    if(i.text==''):
        rating_comp.append(np.NaN)
    else:
        rating_comp.append(i.text)

In [318]:
job_days = []
for i in days:
    if(i.text==''):
        job_days.append(np.NaN)
    else:
        job_days.append(i.text.replace('d',''))

In [319]:
dic_glassdoor = {
    
    'Company_Name':company_name, 'Job_title': job_titles,
    'Rating':rating_comp, 'NoOfDays Jobs Posted': job_days
}

In [320]:
glass_door_table = pd.DataFrame(dic_glassdoor)

In [321]:
glass_door_table

,Company_Name,Job_title,Rating,NoOfDays Jobs Posted
0,Ginger Webs Pvt. Ltd.,Data Analyst / Data Scientist,NaN,3
1,Ericsson,Data Scientist,4.1,9
2,Crowe,Data Scientist,3.7,11
3,Adobe,Research Scientist - Computer Vision,4.4,1
4,Jubna,Data Scientist,NaN,11
5,Techlive,Data Scientist,5.0,30+
6,CRMNEXT,Data Scientist - Computer Vision,3.7,30+
7,Amploy,Data Science Intern (remote),NaN,9
8,dunnhumby,Applied Data Scientist,4.1,3
9,Biz2Credit Inc,Data Scientist,3.7,30+

## Q5: Write a python program to scrape the salary data for Data Scientist designation 
## in Noida location.
    You have to scrape Company name, Number of salaries, Average salary, Min
    salary, Max Salary.
    The above task will be, done as shown in the below steps:
    1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
    2. Enter “Data Scientist” in Job title field and “Noida” in location field.
    3. Click the search button.
    4. After that you will land on the below pag

In [326]:
#proving the chrome drive with naukri url

url = " https://www.glassdoor.co.in/Salaries/index.htm/"
driver.get(url)

In [327]:
### Findind search bars,location search bar, and Search Button by ID and giving it to the driver

search_job = driver.find_element_by_xpath("//input[@id='KeywordSearch']")

search_btn = driver.find_element_by_xpath("//button[@id='HeroSearchButton']")

search_job,search_btn

(<selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="3730769d-a04f-4361-9ec0-87ddbc3d1187")>,
 <selenium.webdriver.remote.webelement.WebElement (session="49e5d3f986e69dab74dca3e2ccdd77d8", element="9822478c-4717-44c1-a520-688f64014485")>)

In [328]:
# SEArch Keys and Button clicks commands

search_job.send_keys("Data Scientist")
time.sleep(2)      
search_btn.click()

In [334]:
# Search input and search button 

search_loc = driver.find_element_by_xpath("//input[@id='sc.location']")
search_btn = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")

In [335]:
search_loc.clear()

In [336]:
# Noida search key to be given in location

search_loc.send_keys('Noida')

search_btn.click()

In [392]:
#Data element retrieval

company_name =  driver.find_elements_by_xpath("//h3[@class='m-0 css-g261rn']/a")[:10]
salary_num = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']/span[@class='m-0 css-1b6bxoo']")[:10]
avg_sal= driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")[:10]
min_max_sal = driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']")[:10]

In [393]:
# Data retreival from element

name_companies = []
for i in company_name:
    if i != '':
        name_companies.append(i.text)
    else:
        name_companies.append(np.NaN)

In [394]:
# Data retreival from element

num_salaries = []
for i in salary_num:
    if(i != ''):
        num_salaries.append(i.text)
    else:
        num_salaries.append(np.NaN)

In [395]:
# Data retreival from element

average_salary = []
for i in avg_sal:
    try:
        i.find_element_by_tag_name('h3')
        average_salary.append(i.find_element_by_tag_name('h3').text.replace('₹ ',''))
    except NoSuchElementException :
        average_salary.append(np.NaN)

In [429]:
# Data retreival from element

min_salary = []
max_salary = []
for i in min_max_sal:
    count = 0
    try:
        for j in i.find_elements_by_tag_name('p'):
            count= count+1
            if(count%2==0):
                min_salary.append(j.text)
            if(count%2==1):
                max_salary.append(j.text)
    except NoSuchElementException:
        print(NoSuchElementException)

In [448]:
# replacing all the un necessary elements

min_s = list(map(lambda x: x.replace('₹','').replace('K', '').replace(',','') ,min_salary))
max_s = list(map(lambda x: x.replace('₹','').replace('K', '').replace(',','') ,max_salary))
no_sal = list(map(lambda x: x.replace(' salaries','') ,num_salaries))
avg_sal =  list(map(lambda x: x.replace(',','') ,average_salary))

In [449]:
#Creating a dictionary for DAta
dict_salary = {
    'Compamny Name':name_companies,
    'no of salary Review':no_sal,
    'Average Salary(Per yr)':avg_sal,
    'Min Salary (₹ in K)': min_s,
    'Max Sslary(₹ in K )':max_s
}

In [450]:
# Creating Dataframe/Table of the dictionary
salary_glassdoor_table = pd.DataFrame(dict_salary)

In [451]:
salary_glassdoor_table

,Compamny Name,no of salary Review,Average Salary(Per yr),Min Salary (₹ in K),Max Sslary(₹ in K )
0,Tata Consultancy Services,17,615289,1250,343
1,IBM,15,900000,2734,587
2,Accenture,14,1148366,2217,578
3,Ericsson-Worldwide,14,739238,1615,355
4,Delhivery,14,1241763,11640,451
5,UnitedHealth Group,11,1338279,1523,1071
6,Optum Global Solutions,9,1328697,2152,350
7,Valiance Solutions,9,816495,1467,502
8,ZS Associates,8,1142356,1812,202
9,EXL Service,8,1146073,1523,576


## Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have toscrape four attributes:
    1. Brand
    2. Product Description
    3. Price
    4. Discount %
    The attributes which you have to scrape is ticked marked in the below image.
    To scrape the data you have to go through following steps:
    
    
    1. Go to flipkart webpage by url https://www.flipkart.com/
    2. Enter “sunglasses” in the search field where “search for products, brands and 
    more” is written and click the search icon
    3. after that you will reach to a webpage having a lot of sunglasses. From this page 
    you can scrap the required data as usual.
    4. after scraping data from the first page, go to the “Next” Button at the bottom of 
    the page , then click on i

In [72]:
#proving the chrome drive with naukri url

url = "https://www.flipkart.com/"
driver.get(url)

In [73]:
# Getting the SEarch Input and search button parameter

search_text = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
button_icon = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [74]:
# Giving Search keys to the search input and clicking the bUtton

search_text.send_keys('sunglasses')
button_icon.click()

In [83]:
#Getting elements of all the products, prices, discount

products = driver.find_elements_by_xpath("//div[@class='_2B099V']/a")
price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [76]:
products[7].text

'₹541₹79932% off\nOr Pay ₹513 + \n 28'

In [77]:
# All the links of each search Pages.

links = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")

In [78]:
# Links for all the search result pages 

urls = []
for i in links:
    urls.append(i.get_attribute('href'))

In [105]:
# Appending all the data 
counter = 0
counter_p = 0
c_d = 0
c_product = 0
brand_list = []
price_list = []
discount_list = []
product_list = []
for i in urls[:3]:
    driver.get(i)
    brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    products = driver.find_elements_by_xpath("//div[@class='_2B099V']/a")
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    
    for j in brands:
        if(counter< 100):
            brand_list.append(j.text)
            
            counter = counter +1
    for k in price:
        if(counter_p<100):
            price_list.append(k.text.replace('₹',''))
            counter_p=counter_p+1
    
    for k in discount:
        if(c_d<100):
            discount_list.append(k.text.replace(' off',''))
            c_d=c_d+1
            
    for k in range(0,len(products),2):
        if(c_product<100):
            product_list.append(products[k].text)
            c_product=c_product+1

In [113]:
#Dictionary creation for Dataframe/ Table
sunglass_dict = {
    'Product_Brand': brand_list,
    'Product_Name': product_list,
    'Product_Price':price_list,
    'Product_Discount': discount_list
}

In [114]:
import pandas

In [115]:
sunglass_table = pandas.DataFrame(sunglass_dict)

In [116]:
sunglass_table

,Product_Brand,Product_Name,Product_Price,Product_Discount
0,PIRASO,UV Protection Aviator Sunglasses (54),237,85%
1,PIRASO,UV Protection Aviator Sunglasses (54),237,85%
2,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",217,78%
3,PIRASO,UV Protection Aviator Sunglasses (58),331,87%
4,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",213,82%
...,...,...,...,...
95,Fastrack,Polarized Retro Square Sunglasses (Free Size),668,16%
96,Poloport,UV Protection Wayfarer Sunglasses (Free Size),323,82%
97,AISLIN,"Toughened Glass Lens, UV Protection Aviator Su...",756,79%
98,NuVew,UV Protection Cat-eye Sunglasses (60),356,75%
99,NuVew,"UV Protection, Night Vision, Riding Glasses Sp...",188,80%

## Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
    go the link:
    https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

As shown in the above page you have to scrape the tick marked attributes.
These are 
1. Rating 
2. Review_summary 
3. Full review
You have to scrape this data for first 100 review

In [202]:

# Giving the driver the web page link
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [203]:
#Clciking on All review Results
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span").click()

In [204]:
links = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")

In [205]:
#Storing all the search result ages of reviews
urls = []
for i in links:
    urls.append(i.get_attribute('href'))

In [235]:
### Appending the Data from all the search pages (first 100 results)

c_rate = 0
d = 0
rating_l =[]
header_l = []
desc_l = []
for i  in urls[:10]:
    driver.get(i)
    block = driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']") 
    for j in block:
        if(c_rate <100):
            a = (j.text.split('\n')[0])
            rating_l.append(a)
            
            header_l.append(j.text.split('\n')[1])
            c_rate= c_rate+1
   
    desc = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div")
  

    for k in desc:
        if(d<100):
            desc_l.append(k.text)
            d=d+1

In [241]:
dict = {
    'Rating': rating_l,
    'Headind_Review': header_l, 'Review': desc_l
}

In [242]:
review_table  = pd.DataFrame(dict)

In [243]:
review_table

,Rating,Headind_Review,Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...
96,5,Fabulous!,Product is nice at the deviled time the delive...
97,3,Does the job,phone is good but in display is 720p lcd in th...
98,5,Fabulous!,Everything is perfect pictures come out so cle...
99,5,Awesome,I dreamt about this day from a long time.... G...

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker :
    1. Brand
    2. Product Description
    3. Price
    4. discount %
    As shown in the below image, you have to scrape the tick marked attributes

In [245]:

# Giving the driver the web page link
driver.get('https://www.flipkart.com/')

In [246]:
# Getting the SEarch Input and search button parameter

search_text = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
button_icon = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

# Giving Search keys to the search input and clicking the bUtton

search_text.send_keys('sneakers')
button_icon.click()

In [247]:
# All the links of each search Pages.

links = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")

In [248]:
# Links for all the search result pages 

urls = []
for i in links:
    urls.append(i.get_attribute('href'))

In [249]:

# Appending all the data 
counter = 0
counter_p = 0
c_d = 0
c_product = 0
brand_list = []
price_list = []
discount_list = []
product_list = []
for i in urls[:3]:
    driver.get(i)
    brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    products = driver.find_elements_by_xpath("//div[@class='_2B099V']/a")
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    
    for j in brands:
        if(counter< 100):
            brand_list.append(j.text)
            
            counter = counter +1
    for k in price:
        if(counter_p<100):
            price_list.append(k.text.replace('₹',''))
            counter_p=counter_p+1
    
    for k in discount:
        if(c_d<100):
            discount_list.append(k.text.replace(' off',''))
            c_d=c_d+1
            
    for k in range(0,len(products),2):
        if(c_product<100):
            product_list.append(products[k].text)
            c_product=c_product+1

In [253]:

#Dictionary creation for Dataframe/ Table
sunglass_dict = {
    'Product_Brand': brand_list,
    'Product_Name': product_list,
    'Product_Price':price_list,
    'Product_Discount': discount_list
}



sneaker_table = pandas.DataFrame(sunglass_dict)

sneaker_table

,Product_Brand,Product_Name,Product_Price,Product_Discount
0,Birde,Sneakers For Men,252,49%
1,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,424,87%
2,PEHANOSA,Sneakers For Men,499,50%
3,India hub,Fashionable casual sneakers shoes Sneakers For...,389,87%
4,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,377,62%
...,...,...,...,...
95,Birde,Casual Shoes Sneakers For Men,319,87%
96,BRUTON,Men Combo Pack of 2 Casual & Sneaker Shoes (Lo...,299,61%
97,PUMA,Acrux IDP Sneakers For Men,"1,282",57%
98,T-ROCK,Synthetic Leather Casual Sneakers Shoes For Me...,424,68%
99,Nilatin,White Sneaker for Men Sneakers For Men,407,32%

## Q9: Go to the link - https://www.myntra.com/shoes
  ####  Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”

In [333]:

# Giving the driver the web page link
driver.get(' https://www.myntra.com/shoes')

In [336]:

## clicking the black shoes filter option
driver.find_element_by_xpath("//span[@data-colorhex='black']").click()

In [337]:
## clicking the Price Filter 6649-13099
driver.find_element_by_xpath("//span[text()='603']").click()

In [360]:
# Links of all the first 10 page search results
link1 = driver.find_element_by_xpath("//li[@class='pagination-active']/a")
links = driver.find_elements_by_xpath("//li[@class='pagination-number']/a")

In [363]:
# Appending all the links of the page resuls in URLS
urls = []
urls.append(link1.get_attribute('href'))
for i in links:
    urls.append(i.get_attribute('href'))

In [375]:
# Extraction of first 100 data points 
c = 0
pd= 0 
pr = 0
brand_li = []
product_li = []
price_li = []
for i in urls[:3]:
    try:
        driver.get(i)
        brand = driver.find_elements_by_xpath("//h3[@class='product-brand']")
        product = driver.find_elements_by_xpath("//h4[@class='product-product']")
        price = driver.find_elements_by_xpath("//div[@class='product-price']")

        for j in brand:
            if((c<100) & (j.text!= '')):
                brand_li.append(j.text)
                c=c+1

            if j.text== '':
                brand_li.append(np.NaN)

            if c>=100:
                break;


        for j in product:
            if((pd<100) & (j.text!= '')):
                product_li.append(j.text)
                pd=pd+1

            if j.text== '':
                product_li.append(np.NaN)

            if pd>=100:
                break;


        for j in price:
            if((pr<100) & (j.text!= '')):
                price_li.append(j.text)
                pr=pr+1

            if j.text== '':
                price_li.append(np.NaN)

            if pr>=100:
                break;
    except NoSuchElementException:
        print(NoSuchElementException)

In [380]:
# Price has both Nuy prices and Orignal price, need to scrapping the current price
price_1 = list(map(lambda x: x.replace('Rs.',''), price_li))

In [384]:
price_modified = []
for i in price_1:
    li = []
    li = i.split(' ')
    price_modified.append(li[1])

In [388]:

#Dictionary creation for Dataframe/ Table
dict = {
    'Product_Brand': brand_li,
    'Product_Name': product_li,
    'Product_Price in Rs':price_modified
}



table = pandas.DataFrame(dict)

table

           Product_Brand                     Product_Name Product_Price in Rs
0                  ASICS           Men Black Sports Shoes                9999
1                   Nike    Men REACT MILER Running Shoes                8246
2                   Nike   Unisex LEBRON XVIII Basketball               12316
3                   Nike   Unisex COSMIC UNITY Basketball               11470
4                   Nike      Men ZOOM FREAK 2 Basketball                7721
..                   ...                              ...                 ...
95                  Nike   Men ZOOM WINFLO8 Running Shoes                8295
96                  Puma      Men UltraRide Running Shoes                7199
97             Florsheim  Men Solid Leather Formal Derbys                6995
98  Heel & Buckle London   Women Solid Leather Gladiators                6993
99             Cole Haan   Women Solid Leather Ballerinas                9799

[100 rows x 3 columns]

## Q10: Q10: Go to webpage https://www.amazon.in/
     Enter “Laptop” in the search field and then click the search icon.
     Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the
    below imag
    
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
    for each laptop:
    1. title
    2. Ratings
    3. Price
    As shown in the below image as the tick marked attribe

In [431]:

# Giving the driver the web page link
driver.get('https://www.amazon.in/')

In [432]:
# Search Tab and Search Button element

search_input = driver.find_element_by_id('twotabsearchtextbox')
search_btn = driver.find_element_by_xpath("//span[@class='nav-search-submit-text nav-sprite nav-progressive-attribute']")

In [433]:
# Sending keys Laptop to search in search tab and Clicking the Search Button

search_input.send_keys('Laptop')
search_btn.click()

In [434]:
# Click the i7 Intel core Filter

driver.find_element_by_xpath("//span[text()='Intel Core i7']").click()

In [435]:
# Click the i9 Intel core Filter

driver.find_element_by_xpath("//span[text()='Intel Core i9']").click()

In [436]:
# Retreiving all the first 10 product links
product_link =driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")[:12]

In [437]:
import numpy as np

In [438]:
# Storing all the indiviual product  links
product_urls = []
for i in product_link:
    product_urls.append(i.get_attribute('href'))

In [451]:
# looping through each product page and extracting information od Title, Price and Rating

title_list = []
price_list = []
rating_list = []
for i in product_urls:
  
    driver.get(i)
    
   
    
    try:
        title = driver.find_element_by_xpath("//span[@id='productTitle']")
        title_list.append(title.text)
        
    except NoSuchElementException as e:
        title_list.append(np.NaN)
            
    try:
        price = driver.find_element_by_xpath("//span[@id='priceblock_ourprice']")
        price_list.append(price.text.replace('₹ ',''))
            
    except NoSuchElementException as e:
        price_list.append(np.NaN)
            
    try:
        rating = driver.find_element_by_xpath("//span[@data-hook='rating-out-of-text']")
        rating_list.append(rating.text.split(' ')[0])
        
    except NoSuchElementException as e:
        rating_list.append(np.NaN)

In [452]:

#Dictionary creation for Dataframe/ Table
dict = {
    'Product': title_list,

    'Product_Price in ₹ ':price_list,
        'Rating out of 5 ': rating_list,
}



table = pandas.DataFrame(dict)

table

,Product,Product_Price in ₹,Rating out of 5
0,Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...,"83,990.00",3.2
1,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...","97,990.00",4.2
2,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"54,999.00",4.4
3,"Lenovo Ideapad 5 Intel i7 11th Gen 15.6"" Thin ...","76,990.00",5
4,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"84,990.00",4.5
5,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"26,990.00",3.1
6,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...","89,990.00",4.7
7,(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...,"1,70,587.00",NaN
8,"ASUS ROG Zephyrus Duo 15, 15.6"" 4K UHD, Intel ...","2,69,990.00",3.8
9,(Renewed) Lenovo T430 14-inch Laptop (Core i7/...,"51,999.00",NaN
10,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"86,990.00",4.1
11,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...","78,990.00",3.8